<!-- process info -->
<div class="row mainContent">
  <div class="bg-grey">
    <div class="mainInner">
      <form>
        <h3>Section 1</h3>
        <div class="col-md-6">
          <input type="text" placeholder="Process Number" />
          <input type="text" placeholder="Department Name" />
          <input type="text" placeholder="Process Owner" />
          <textarea>Process Description</textarea>
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Process Name" />
          <input type="text" placeholder="Business Owner" />
          <input type="text" placeholder="SME" />
          <textarea>Comments</textarea>
        </div>
        <h3>Section 2</h3>
        <div class="col-md-6">
          <select>
            <option value="volvo">Select Option</option>
            <option value="saab">Project Status</option>
          </select>
        </div>
        <div class="col-md-6">
          <select>
            <option value="volvo">Select Option</option>
            <option value="saab">Current Phase</option>
          </select>
        </div>
        <div class="overFlow">
          <div class="col-md-6">
            <h3>Section 3</h3>
          </div>
          <div class="col-md-6 text-right">
            <input type="file" class="custom-file-input">
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Automation Motivator" />
          <input type="text" placeholder="Benefits Realized Year" />
          <input type="text" placeholder="Head Count" />
          <input type="text" placeholder="Man Hours (M)" />
        </div>
        <div class="col-md-6">
          <select>
            <option value="volvo">Select Option</option>
            <option value="saab">Type of Saving</option>
          </select>
          <input type="text" placeholder="Benefits Realized Quarter" />
          <input type="text" placeholder="HC Reduction" />
          <input type="text" placeholder="Annual Savings" />
        </div>
        <div class="col-md-12">
          <input class="smallPadding" type="text" placeholder="Cost Center" />
        </div>
        <div class="col-md-12 actionBtn text-right">
          <button class="backBtn" type="submit"><i class="ion ion-md-arrow-dropleft"></i> Back</button>
          <button class="saveBtn" type="submit">Save Activity</button>
          <button class="nextBtn" type="submit">Next <i class="ion ion-md-arrow-dropright"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- process info -->