<div class="mainTabs">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/processInfo" class="activeMe"><span>1</span><em>&nbsp;</em>
        <hr />
        <div class="mobiInner"><i class="ion ion-md-alert"></i>Process Info<em>&nbsp;</em></div>
      </a></li>
    <li><a routerLink="/processQualification"><span>2</span><em>&nbsp;</em>
        <hr />
        <div class="mobiInner"><i class="ion ion-md-medal"></i>Process Qualification<em>&nbsp;</em></div>
      </a></li>
    <li><a routerLink="/processFeasibility"><span>3</span><em class="threeDots"><i class="ion ion-md-more"></i></em>
        <hr />
        <div class="mobiInner"><i class="ion ion-md-checkmark-circle"></i>Process Feasibility<em class="threeDots"><i
              class="ion ion-md-more"></i></em></div>
      </a></li>
    <li><a routerLink="/processInfo"><span>4</span>
        <hr />
        <div class="mobiInner"><i class="ion ion-md-cash"></i>Process ROI</div>
      </a></li>
  </ul>
</div>
<router-outlet></router-outlet>